@{ ViewData["Title"] = "Emlak Satın Al";
    Layout = "_AdminLayout.cshtml"; }

@model IEnumerable<Reseller.Models.Estate>
@using Reseller.Controllers

<h3 class="text-center mt-5">Emlak Bilgileri</h3>
<br />
<table class=" table table-sm table-bordered">
    <thead class="bg-success text-white">
        <tr>
            <th>Fotoğraf</th>
            <th>Kategori</th>
            <th>Durum</th>
            <th>İlan Adı</th>
            <th>Ayrıntılı Bilgi</th>
            <th>Konum</th>
            <th>Adres</th>
            <th>Fiyat</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var estate in Model)
        {
<tr>
    <td>@estate.EstatePicture</td>
    <td>@estate.EstateCategory</td>
    <td>@estate.StatusInfo</td>
    <td>@estate.EstateName</td>
    <td>@estate.EstateInfo</td>
    <td>@estate.City</td>
    <td>@estate.LocationName</td>
    <td>@estate.EstatePrice</td>

    <td>
        <a class="btn btn-info btn-sm" asp-controller="Estate" asp-action="BuyEstate" asp-route-id="@estate.EstateId">
            Satın Al
        </a>
    </td>

</tr>
}

    </tbody>



</table>