@{ ViewData["Title"] = "Satıcı Güncelleme";
    Layout = "_AdminLayout.cshtml"; }

@model IEnumerable<Reseller.Models.Seller>
@using Reseller.Controllers


<h2>Satıcı Listesi</h2>
<br />
<table class=" table table-sm table-bordered">
    <thead class="bg-success text-white">
        <tr>
            <th>Kullanıcı Adı</th>
            <th>Adı ve Soyadı</th>
            <th>Telefon Numarası</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var seller in Model)
        {
        <tr>
            <td>@seller.SellerUserName</td>
            <td>@seller.SellerName</td>
            <td>@seller.PhoneSeller</td>
            <td>
                <a class="btn btn-info btn-sm" asp-controller="Seller" asp-action="UpdateSeller" asp-route-id="@seller.SellerId">
                    Update
                </a>
            </td>
            <td>
                <a class="btn btn-info btn-sm" asp-controller="Seller" asp-action="DeleteSeller" asp-route-id="@seller.SellerId">
                    Delete
                </a>
            </td>

        </tr>
}

    </tbody>



</table>